window.ags-bar {
  background: transparent;
}

.bar-content {
  background: $bg;
  min-height: 32px;
  padding: 0 10px;
  border-radius: 0;
}

.workspaces {
  padding: 0 4px;
}

.workspace {
  min-width: 6px;
  min-height: 6px;
  margin: 0 3px;
  border-radius: 6px;
  background: $fg-muted;
  transition: all 150ms ease;
}

.workspace.focused {
  min-width: 24px;
  min-height: 6px;
  background: $accent;
}
